/* Write your CSS here */
li {
  list-style-type: none;
  margin-left: 70px;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  border: 1px solid #b5b7c4;
}
.date {
  font-family: 'Roboto';
  color: #b5b7c4;
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
}
.title {
  font-weight: bold;
  font-family: 'Roboto';
  color: #171f46;
}
.star-img {
  width: 20px;
  height: 20px;
}
button {
  background-color: transparent;
  border: none;
}
